.keret {
    width: 80%;
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

.jobbrakep {
    float: right;
    width: 300px;
    margin-left:20px;
    margin-bottom:20px;
}

body {
    background-image: url("hatterkep.jpg");
    font-family:sans-serif;
    
}
div {
    padding:30px;
    background-color:rgba(255,255,255,.7)
}
.forras {
    font-size:10px;
    font-style:oblique;
    text-align:right;
}
p {
    text-align:justify;
    
}